<div class="hero_area">
    <div class="bg-box">
        <img src="~/images/banner/b1.png" alt="" id="myImage" />
    </div>
    <button id="prevBtn" onclick="changeImage(-1)">&#10094;</button>
    <button id="nextBtn" onclick="changeImage(1)">&#10095;</button>
</div>